@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
    }
</style>

<h1>Rehber Listesi</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                count++;
            }
            <td>@count</td>
            <td><img src="@item.Image" height="70" width="70" class="circle" /></td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            @{
                if (item.Status == true)
                {
                    <td><a href="/admin/guide/changetofalse/@item.GuideID" class="btn btn-outline-warning">Pasif Yap</a></td>
                }
                else
                {
                    <td><a href="/admin/guide/changetotrue/@item.GuideID" class="btn btn-outline-info">Aktif Yap</a></td>
                }
            }

            <td><a href="/admin/guide/editguide/@item.GuideID" class="btn btn-outline-success">Düzenle</a></td>
            <td><a href="/admin/guide/deleteguide/@item.GuideID" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>

<a href="/admin/guide/addguide" class="btn btn-outline-primary">Yeni Rehber Girişi</a>

