@model Announcement
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h1>Duyuru Detayları</h1>

<div class="card">
    <div class="card-header">
        @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <div class="btn-group">
            <a href="/admin/announcement/index/" class="btn btn-outline-primary"><i class="fa-solid fa-backward"></i></a>
            <a href="/admin/announcement/updateannouncement/@Model.AnnouncementID" class="btn btn-outline-success"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="/admin/announcement/deleteannouncement/@Model.AnnouncementID" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
</div>

