@model List<ContactUs>
@{
    ViewData["Title"] = "ContactUsByFalse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<h1>Silinen Mesajlar</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                count++;
            }
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.MessageDate.ToString("dd-MMM-yyyy")</td>
            <td><a href="/admin/contactus/contactusdetails/@item.ContactUsID" class="btn btn-outline-dark">Mesajı Aç</a></td>
        </tr>
    }
</table>

