@model ForgetPasswordViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Traversal Şifre Yenile</title>
   
    <link rel="icon" type="image/x-icon" href="~/lock.png" />
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<div class="container">
    <br /><br />

    <h2>Şifre Yenileme Sayfası</h2>

    <form method="post">
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button id="btn" class="btn btn-outline-primary">Şifre Yenileme Linki Gönder</button>
    </form>
</div>

<script>
    const btnSubmit=document.getElementById("btn");
    btnSubmit.addEventListener("click",function()
    {
        //alert("Mail adresinize şifre yenileme linki gönderilmiştir. Lütfen mailinizi kontrol ediniz.")
        swal({
            title: "Başarılı!",
            text: "Mail adresinize şifre yenileme linki gönderilmiştir. Lütfen mailinizi kontrol ediniz.",
            icon: "success",
            button: "Tamam",
        });
    })
</script>