@model ResetPasswordViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
   
    <title>Traversal Şifre Yenile</title>
   
    <link rel="icon" type="image/x-icon" href="~/lock.png" />
  
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<div class="container">
    <br /><br />

    <h2>Şifre Yenileme Sayfası</h2>

    <form method="post">
        <label>Şifrenizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger" style="color:  #ff0000;"></span>
        <br />
        <label>Şifrenizi Tekrar Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:  #ff0000;"></span>
        <br />
        <button id="btn" class="btn btn-outline-primary">Şifreyi Güncelle</button>
    </form>
</div>

<script>
    const btnSubmit = document.getElementById("btn");
    btnSubmit.addEventListener("click", function () {
        //alert("Şifreniz başarıyla değiştirilmiştir.")
        swal({
            title: "Başarılı!",
            text: "Şifreniz başarıyla değiştirilmiştir.",
            icon: "success",
            button: "Tamam",
        });
    });
</script>
