
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<br>
<div class="btn-group">
    <a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-info">Statik Pdf Raporu</a>
    <br />
    <a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-success">Statik Misafir Pdf Raporu</a>
</div>
