@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Oteller İçin Şehir ID Bilgisi Getirme</h1>
<br />
<br />
<form method="post">
    <label>Şehir adını giriniz:</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir ID Getir</button>
</form>
