@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Rotaları</h1>
<table class="table table-striped table-hover">
    <tr>
        <th hidden>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Öne Çıkar</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td hidden>@item.DestinationID</td>
            <td>@item.City</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td>
                @if(@item.Status==true)
                {
                    <a href="/Admin/Destination/PassiveDestination/@item.DestinationID" class="btn btn-outline-primary">Pasif Yap</a>
                }
                else
                {
                    <a href="/Admin/Destination/ActiveDestination/@item.DestinationID" class="btn btn-outline-warning">Aktif Yap</a>
                }
               </td>
            <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestination/@item.DestinationID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Admin/Destination/AddDestination/" class="btn btn-outline-primary">Yeni Tur Rotası</a>

