@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Rotaları</h1>
<table class="table table-striped table-hover">
    <tr>
        <th hidden>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Öne Çıkar</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td hidden>@item.DestinationID</td>
            <td>@item.City</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td>
                @if(@item.Status==true)
                {
                    <a href="/admin/destination/passivedestination/@item.DestinationID" class="btn btn-outline-primary">Pasif Yap</a>
                }             
                else          
                {             
                    <a href="/admin/destination/activedestination/@item.DestinationID" class="btn btn-outline-warning">Aktif Yap</a>
                }
               </td>
            <td><a href="/destination/destinationdetails/@item.DestinationID" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/admin/destination/deletedestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/admin/destination/updatedestination/@item.DestinationID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/admin/destination/adddestination/" class="btn btn-outline-primary">Yeni Tur Rotası</a>

