
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Aradığınız sayfa bulunamadı!</title>
    <link rel="stylesheet" type="text/css" href="~/404-template/assets/css/style.css" />
    <link href="~/404-template/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/404-template/assets/images/404.svg" />
        <br />
        <h3>Oooppsss! Aradığınız sayfa bulunamadı.</h3>
        <br />
        <a class="buton" href="/Default/Index/">Anasayfaya Dön</a>
    </div>
</body>

</html>