@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>CQRS MediatR Rehber Listesi</h1>

<table class="table table-bordered table-hover">
   <tr>
       <th>#</th>
       <th>Rehber Adı</th>
       <th>Açıklama</th>
       <th>Sil</th>
       <th>Güncelle</th>
   </tr>
   @foreach(var item in Model)
    {
        <tr>
            @{count++;}
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/admin/guidemediatr/getguides/@item.GuideID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/admin/guidemediatr/addguide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>

