@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rol Listesi</h1>
@if (Model.Count > 0)
{
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Rol Adı</th>
            <th>Rolü Sil</th>
            <th>Rolü Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td><a href="/admin/role/deleterole/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/admin/role/updaterole/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-success">
        <span>Herhangi bir rol bulunamadı.</span>
    </div>
}
<div class="btn-group">
    <a href="/Admin/Role/CreateRole/" class="btn btn-outline-primary">Yeni Rol Girişi</a> <br />
    <a href="/Admin/Role/UserList/" class="btn btn-outline-dark">Kullanıcı Rolleri</a>
</div>


